<html>

<head>

</head>

<body>

    <address> <a href="{{ url_for('authorization') }}">Simple Authorization</a></address>
    <address> <a href="{{ url_for('capture') }}">Capture</a></address>
    <address> <a href="{{ url_for('auth_capt') }}">Authorization and Capture</a></address>
    <address> <a href="{{ url_for('authorizationrev') }}">Authorization Reversal</a></address>
    <address> <a href="{{ url_for('captureref') }}">Capture Refund</a></address>
    <address> <a href="{{ url_for('credit') }}">Credit</a></address>
    <address> <a href="{{ url_for('decision_manager') }}">Decision Manager Reject</a></address>

</body>

</html>